<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Service projects in the <strong>
                <%= category.name %>
            </strong> category:</p>
        <ul>
            <% projects.forEach(project=> { %>
                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.title %>
                    </a>
                </li>
                <% }) %>
                    <% if (projects.length===0) { %>
                        <li>No projects found for this category.</li>
                        <% } %>
        </ul>
    </main>

    <%- include('partials/footer') %>