<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner organizations:</p>

        <% if (user && user.role_name==='admin' ) { %>
            <p><a href="/new-organization">Add New Organization</a></p>
            <% } %>

                <ul>
                    <% organizations.forEach(org=> { %>
                        <li>
                            <img src="/images/<%= org.logo_filename %>" alt="<%= org.name %> logo">
                            <a href="/organization/<%= org.organization_id %>"><strong>
                                    <%= org.name %>
                                </strong></a>: <%= org.contact_email %>
                                <% if (user && user.role_name==='admin' ) { %>
                                    | <a href="/edit-organization/<%= org.organization_id %>">Edit</a>
                                    <% } %>
                        </li>
                        <% }) %>
                </ul>
    </main>

    <%- include('partials/footer') %>